<div class="btn-div d-flex justify-content-center m-2">
  <a class="btn btn-ghost mt-4"  href="lists/new">Add new list</a>
</div>
<br>
<div class="cards row justify-content-center">
    <% @lists.reverse.each do |list|%>
      <div class="card col-4 m-2 d-flex align-items-center" style="1rem">
      <div class="movie-image mt-4 d-flex justify-content-center">
        <% if list.movies.count > 0%>
              <% list_movie_array = list.movies.first.poster_url %>
              <%= image_tag "#{list_movie_array}", width: "50%", alt: "Movie", class: "image" %>
        <%else%>
              <%= image_tag "pirulito.jpg", width: "50%", alt: "Movie", class: "image" %>
            <%end%>

       </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%=list.name%></h5>
          <a href=<%=list_path(list)%> class="btn btn-dark text-center">Details</a>
          <%=link_to "Delete", list_delete_path(list), method: :delete, class: "btn btn-danger text-center",data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
</div>
